/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-image: url("https://images.adsttc.com/media/images/5e4c/1025/6ee6/7e0b/9d00/0877/large_jpg/feature_-_Main_hall_1.jpg?1582043123");
  background-color: #ffe4c4;
  background-size: cover;
  background-repeat: no-repeat;
}
.mainContent {
  background-color: #ffffff;
  margin-top: 20px;
  padding: 30px;
  width: 90%;
  max-width: 1000px;
}
.commentt {
  border-width: 3px;
  background-color: lightblue;
}
#sperator {
  margin-left: 30px;
  border-right: 3px solid;
  border-color: #A9A9A9;
}